
{% extends 'users/mailbox/mailbox.html' %}

{% block target %}

{{ super() }}
	

                            <div class="table-responsive">
                                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                                  {% for message in messages%}
                                    <tbody>
                                        <!-- row -->
                                        <tr>
                                            <!-- label -->
                                            <td class="pl-3">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="cst1" />
                                                    <label class="custom-control-label" for="cst1">&nbsp;</label>
                                                </div>
                                            </td>
                                              <div class="card">
                                                  <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <p class="card-text">{{message.title}}</p>
                                
                                                  </div>
                                              </div>
                                             
                                            <td><i class="fa fa-star text-warning"></i></td>
                                            <!-- Message -->
                                            <td>
                                                <a class="link">
                                                    <span class="text-dark">{{message.message}}</span>
                                                </a>
                                            </td>
                                            <!-- Attachment -->
                                            <td><i class="fa fa-paperclip text-muted"></i></td>
                                            <!-- Time -->
                                            <td class="text-muted">May 13</td>
                                            {% endfor %}
                                        </tr>                                 
                                    </tbody>
                                </table>
                            </div>


<a href="/compose_message/{{discussion_id}}/?reply=1" class="btn btn-primary">Reply</a>

{% endblock %}